extends ./layout/public

block contenido 
    div(class="py-10")
        h1(class="text-center text-4xl font-extrabold pt-10")= page
        
        p(class="w-full text-center mt-10")
            a(href="/" class="text-sm bg-blue-500 rounded shadow py-3 px-5 text-white w-auto") Inicio